{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}

{% block title %} Login {% endblock %}

 
{% block content %}


<p align = "left">

<div class = "container">
		<div class="page-header">
				<font color = 'navy'>

			<center><h1><font color='navy'><b> Random Waffle </b></font></h1></center>
			<p>



			</p>
			<h1> Login to enter chat:</h1></font>
		</div>
	</div>
<div class = "container">
	{{wtf.quick_form(form)}}
</div>
<p>

	
</p>
<div class = "container">


		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
			<div class = "alert alert-warning">
			<button type="button" , class="close" , data-dismiss ="alert">&times;</button> 
			{{ message }}
		</div> 
			{% endfor %}  
		  {% endif %}
		{% endwith %}
		
		</div>

</p>
{% endblock %}


