USE [master]
GO
/****** Object:  Database [ChatServer]    Script Date: 24-12-2019 18:36:06 ******/
CREATE DATABASE [ChatServer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatServer', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ChatServer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatServer_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ChatServer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatServer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatServer]
GO
/****** Object:  Table [dbo].[ChatLogin]    Script Date: 24-12-2019 18:36:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLogin](
	[UserID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[HasAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ADD_USER]    Script Date: 24-12-2019 18:36:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_USER] @FIRSTNAME VARCHAR(50) , @USERNAME VARCHAR(50) , @PASSWORD VARCHAR(50) 
AS
BEGIN

DECLARE @PASSWORD_HASHED VARCHAR(50)
DECLARE @MAX_SNO INT

SET @MAX_SNO = (SELECT MAX(UserID) FROM ChatLogin)

SET @MAX_SNO = @MAX_SNO + 1

SET @PASSWORD_HASHED = (SELECT CONVERT(varchar(max), HASHBYTES ('SHA2_512', @PASSWORD) ,2))

INSERT INTO ChatLogin VALUES (@MAX_SNO , @FIRSTNAME , @USERNAME , @PASSWORD_HASHED,0)


END
GO
/****** Object:  StoredProcedure [dbo].[TRY_LOGIN]    Script Date: 24-12-2019 18:36:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TRY_LOGIN] @INPUT_USERNAME VARCHAR(50) , @INPUT_PASSWORD VARCHAR(50)
AS
BEGIN

/*DECLARE @ACTUAL_USERNAME VARCHAR(50)*/
DECLARE @ACTUAL_PASSWORD VARCHAR(50)
DECLARE @HASHED_USER_PASSWORD VARCHAR(50)
DECLARE @USEREXISTS INT
DECLARE @LOGIN_STATUS INT

--IF NOT EXISTS (SELECT UserPassword FROM ChatLogin WHERE UserName = @INPUT_PASSWORD )
	
	--SET @LOGIN_STATUS = 0
	
	--SELECT @LOGIN_STATUS

	

SET @ACTUAL_PASSWORD = (SELECT UserPassword FROM ChatLogin WHERE UserName = @INPUT_USERNAME )

SET @HASHED_USER_PASSWORD =  (SELECT CONVERT(varchar(max), HASHBYTES ('SHA2_512', @INPUT_PASSWORD) ,2))

IF @HASHED_USER_PASSWORD = @ACTUAL_PASSWORD
	
	SET @LOGIN_STATUS = 1

ELSE

	SET @LOGIN_STATUS = 0

SELECT @LOGIN_STATUS

--SELECT @ACTUAL_PASSWORD
END
GO
USE [master]
GO
